{% extends 'base.html.twig' %}

{% block body %}
   <h1 style="text-align: center">Event Manager App</h1>
   <ul style="text-align: center;list-style-type: none">
      <li><a href="{{ path('create-event') }}">Aggiungi evento</a></li>
      <li><a href="">Modifica evento</a></li>
      <li><a href="{{ path('identities-list') }}">Lista Persone</a></li>
      <li><a href="{{ path('identity-creation') }}">Aggiungi Persona</a></li>
      <li><a href="">Aggiungere/Rimuovere partecipanti</a></li>
      <li><a href="{{ path('list-events') }}">Lista eventi</a></li>
   </ul>
{% endblock %}
